@model IEnumerable<VehicleServiceModel>

@{
    ViewData["Title"] = "Your listed vehicles.";
    ViewBag.AllowEditDelete = true;
}

@if (!Model.Any()) 
{
    <h2 class="text-center">You do not have any vehicles listed!</h2>
}

<partial name="_VisualisationPartial" model="@Model" />